:root {
  --bg-principal-start: #1e90ff;
  --bg-principal-end: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
  body {
    overflow: auto;
  }
}
