$primary: #566cd6;
$primary-opacity-5: #7789df;
$primary-text: #40415e;
$secondary-text: #fbfcff;
$bg-principal-start: #f2f4ff;
$bg-principal-end: #fbfcff;

// pokemon colors
$bug: #9de011;
$dark: #524a63;
$dragon: #0069d9;
$electric: #ffe528;
$fairy: #fa91f4;
$fighting: #de3464;
$fire: #ffa94b;
$flying: #97b6f0;
$ghost: #4061c9;
$grass: #64A30A;
$ground: #f5712c;
$ice: #69e6d7;
$normal: #98a6b3;
$poison: #9267AF;
$psychic: #ff6b72;
$rock: #decb8d;
$steel: #4a99b7;
$water: #3599f0;
